@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

/*
共通
*/
body {
  padding-top: 100px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
}

/***************************
header
****************************/
.header {
  height: 100px;
  background-color: #3F51B5;
  margin: 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-line {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 24px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  height: 40px;
}

.header-right {
  position: relative;
  margin-left: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-right {
    display: none;
    font-weight: bold;
  }
}

.header-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  list-style: none;
}

.header-right ul li {
  margin-right: 40px;
}

.header-right ul li:last-child {
  margin-right: 0;
}

.header-right ul li a {
  color: #FFFFFF;
  list-style: none;
  text-decoration: none;
  display: block;
  position: relative;
}

.header-right ul li a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -11px;
  width: 100%;
  height: 2px;
  background: #E81919;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.header-right ul li a:hover::after {
  opacity: 1;
  cursor: pointer;
}

.header-right ul li a.is-active::after {
  opacity: 1;
}

/*********************
drawer
***********************/
.drawer-icon {
  display: none;
  position: fixed;
  right: 30px;
  top: 40px;
  z-index: 41;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
}

.drawer-icon.is-checked {
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-bars {
  display: inline-block;
  width: 22px;
  height: 20px;
  position: relative;
  vertical-align: bottom;
}

.drawer-bar {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  background: #fff;
  width: 100%;
  height: 4px;
  border-radius: 0;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.drawer-bar:nth-of-type(1) {
  top: 0;
}

.drawer-bar:nth-of-type(2) {
  top: 8px;
}

.drawer-bar:nth-of-type(3) {
  top: 16px;
}

.is-checked .drawer-bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.is-checked .drawer-bar:nth-of-type(2) {
  background: transparent;
}

.is-checked .drawer-bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.drawer-background {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.drawer-background.is-checked {
  display: block;
  opacity: 0.8;
}

.drawer-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
  z-index: 40;
  width: 200px;
  max-width: 90%;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-align: left;
  color: #707070;
}

.drawer-content.is-checked {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

.drawer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer-content ul li {
  border-bottom: 1px dotted #707070;
}

.drawer-content ul li a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 16px 30px 14px 20px;
  color: #707070;
}

.drawer-content ul li a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: transparent url(./img/arrow-b.svg) no-repeat center center/contain;
}

/************************
top
*************************/
.top {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .top {
    max-width: 100%;
  }
}

.top-box {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  line-height: 1.2;
}

.top-h1 {
  font-size: 64px;
}

@media screen and (max-width: 767px) {
  .top-h1 {
    font-size: 36px;
    font-weight: bold;
  }
}

.top-subtitle {
  font-size: 24px;
  margin-top: 24px;
}

.top-contact-button {
  margin-top: 36px;
  background-color: #3F51B5;
  color: #FFFFFF;
  width: 384px;
  padding: 22px 24px;
  font-size: 24px;
  max-width: 100%;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
}

.top-contact-button a {
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .top-contact-button {
    width: 280px;
    padding: 22px 12px;
  }
}

.swiper-container {
  width: 100%;
  height: 600px;
}

.swiper-slide {
  position: relative;
  height: 600px;
  width: 100%;
  background: url(/img/mainvisual.png) transparent no-repeat top center/cover;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .swiper-slide {
    height: 600px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-slide {
    height: 500px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: -20px 0 0;
  z-index: 3;
  display: inline-block;
  bottom: 300px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 0.6;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  background: transparent url(/img/arrow-prev.svg) no-repeat center center/contain;
  left: calc(50% - 600px);
}

@media (max-width: 1247px) {
  .swiper-button-prev {
    left: 24px;
  }
}

@media (max-width: 767px) {
  .swiper-button-prev {
    left: 4px;
  }
}

.swiper-button-next {
  background: transparent url(/img/arrow-next.svg) no-repeat center center/contain;
  right: calc(50% - 600px);
}

@media (max-width: 1247px) {
  .swiper-button-next {
    right: 24px;
  }
}

@media (max-width: 767px) {
  .swiper-button-next {
    right: 4px;
  }
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transform: translate3d(0px 0px 0px);
          transform: translate3d(0px 0px 0px);
  width: 100%;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 1;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background: #2f7dc8;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  z-index: 2;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 6px;
  margin-right: 6px;
}

/*****************************
card
******************************/
.card-class {
  background-color: #EFEFEF;
}

.tittle {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  font-size: 48px;
}

@media screen and (max-width: 767px) {
  .tittle {
    padding-top: 50px;
  }
}

.card-name {
  margin-bottom: 24px;
}

.line {
  margin: 0 auto;
  width: 60px;
  height: 4px;
  background: #3F51B5;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .line {
    margin-bottom: 40px;
  }
}

.card-all-group {
  width: 1200px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 120px;
}

.card-img {
  background-color: #FFFFFF;
  padding: 16px;
  width: calc(((100% - (24px * 2)) / 3) - 1px);
  margin-right: 24px;
  margin-bottom: 24px;
}

.card-img:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  .card-img {
    width: calc(50% - 24px / 2);
    margin-right: 24px;
  }
  .card-img:nth-child(3n) {
    margin-right: 24px;
  }
  .card-img:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .card-img {
    width: 100%;
    margin-right: 0;
  }
  .card-img:nth-child(3n) {
    margin-right: 0;
  }
}

.card-item {
  width: 100%;
}

.card-tittle {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  display: block;
}

.text {
  font-size: 16px;
  font-family: 'YuGothic';
  display: block;
}

/***************************
news
****************************/
.news-class {
  padding-left: 240px;
  padding-right: 240px;
}

@media screen and (max-width: 767px) {
  .news-class {
    width: 100%;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.news-tittle {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
  padding: 100px 0 24px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .news-tittle {
    padding-top: 50px;
  }
}

.news-tittle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 52px;
  height: 4px;
  background: #3F51B5;
}

.news-item {
  border-bottom: #707070 solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 10px;
  padding-left: 0;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  padding-top: 2px;
}

.news-day {
  width: 105px;
  display: inline-block;
  padding-top: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-type {
  width: 80px;
  background-color: #707070;
}

.label-type:hover {
  opacity: 0.6;
}

.label-type a {
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  padding: 8px;
  display: inline-block;
  border-radius: 4px;
  line-height: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.label2 {
  background-color: #3F51B5;
}

.label3 {
  background-color: #E81919;
}

.news-text {
  width: calc(100% - 185px);
  line-height: 1.25;
  padding: 5px 0 0 20px;
  text-decoration: none;
}

.news-text:hover {
  opacity: 0.6;
}

.news-text a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-more {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 120px;
}

.news-more a {
  text-decoration: none;
  color: #E81919;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

.news-more a::after {
  content: '';
  background: url(../img/news-arrow.svg);
  width: 7px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 10px;
}

/***************************
price
****************************/
.price-class {
  background-color: #EFEFEF;
  padding: 40px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .price-class {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.price-tittle {
  text-align: center;
  margin-top: 60px;
  position: relative;
  font-size: 48px;
  padding-bottom: 28px;
  font-weight: bold;
  margin-bottom: 80px;
}

.price-tittle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 52px;
  height: 4px;
  background: #3F51B5;
}

.price-img-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .price-img-table {
    width: 100%;
    padding: 0;
    display: block;
  }
}

.price-img {
  text-align: center;
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .price-img {
    margin: 0 auto 35px;
  }
}

.price-png {
  height: 286px;
  width: 454px;
  max-width: 100%;
}

.table-group {
  width: 706px;
}

@media screen and (max-width: 767px) {
  .table-group {
    width: 100%;
    display: block;
  }
}

.table-def {
  width: 100%;
  table-layout: fixed;
  margin-left: 0;
  border-collapse: collapse;
  border: 1px solid #999999;
  margin-bottom: 0;
}

.table-def th, .table-def td {
  padding: 18px 24px;
  border: 1px solid #707070;
  vertical-align: middle;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .table-def th, .table-def td {
    padding: 16px;
  }
}

table th {
  border: 1px solid #999999;
  background-color: #999999;
  color: #FFFFFF;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

table th:first-child {
  width: 170px;
}

@media screen and (max-width: 767px) {
  table th:first-child {
    width: 80px;
  }
}

table td {
  border: 1px solid #707070;
  background-color: #FFFFFF;
  vertical-align: middle;
  padding: 18px 24px;
  text-align: right;
  line-height: 1.2;
}

table td.table-default__multiline {
  padding-top: 10px;
  padding-bottom: 8px;
}

.row3-6000 {
  color: #E81919;
}

.price-contact {
  padding-top: 12px;
  text-decoration: none;
}

.price-contact a {
  color: #333333;
  font-weight: bold;
}

/***************************
access
****************************/
.access-class {
  max-width: 100%;
  padding: 100px 240px 120px 240px;
}

@media screen and (max-width: 767px) {
  .access-class {
    width: 100%;
    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.access-tittle {
  text-align: center;
  position: relative;
  font-size: 48px;
  padding-bottom: 24px;
  font-weight: bold;
}

.access-tittle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 52px;
  height: 4px;
  background: #3F51B5;
}

.map-box {
  width: 800px;
  max-width: 100%;
  margin: 80px auto 0;
}

.map {
  position: relative;
  width: 100%;
  padding-top: 50%;
  /* = height ÷ width × 100 */
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.information {
  padding: 0 240px 0 240px;
  width: 800px;
  max-width: 100%;
  padding: 0%;
  margin: auto;
}

.address-box {
  padding: 16px 0;
}

.address {
  font-weight: bold;
  margin-right: 72px;
}

.access-info {
  padding-right: 40px;
}

.station-access {
  font-weight: bold;
  margin-right: 40px;
}

.map-btn {
  display: block;
  background-color: #3F51B5;
  margin: 0 auto;
  margin-top: 30px;
  height: 56px;
  width: 304px;
  border-radius: 8px;
  position: relative;
}

.map-btn a {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.map-btn::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: transparent url(../img/button-arrow.svg) no-repeat center center/contain;
  color: #FFFFFF;
}

/***************************
Q＆A
****************************/
.QA-class {
  background-color: #e9effc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .QA-class {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.QA-body {
  max-width: 100%;
  margin: 0 auto;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .QA-body {
    width: 100%;
    margin: 0;
  }
}

.QA-tittle {
  text-align: center;
  margin-top: 100px;
  position: relative;
  font-size: 48px;
  padding-bottom: 24px;
  font-weight: bold;
}

.QA-tittle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 52px;
  height: 4px;
  background: #3F51B5;
}

.accordion-group {
  width: 900px;
  background-color: #e9effc;
  display: block;
  margin-top: 80px;
  margin-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .accordion-group {
    width: 100%;
    padding: 0 10px;
  }
}

.accordion-item {
  margin-bottom: 24px;
  position: relative;
  display: block;
}

.accordion-head {
  display: block;
  background: #3F51B5;
  color: #FFFFFF;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.accordion-head::before {
  content: 'Q';
  font-size: 15px;
  padding: 10px 20px;
  display: inline-block;
}

.accordion-icon {
  position: relative;
  display: inline-block;
  float: right;
  padding: 10px;
}

.accordion-icon::after {
  content: '＋';
}

.accordion-icon.is-open::after {
  content: 'ー';
}

.accordion-body {
  display: none;
}

.accordion-body-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  color: #3F51B5;
  height: 98px;
  border: 1px solid #3F51B5;
  padding: 16px 30px 16px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.accordion-body-in::before {
  content: 'A';
  padding: 0 10px 0 0;
}

.accordion-body-in.is-open::after {
  content: '';
}

/***************************
contact
****************************/
.contact-class {
  background-color: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .contact-class {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.contact-body {
  max-width: 100%;
  margin: 0 auto;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .contact-body {
    width: 100%;
    margin: 0;
  }
}

.contact-tittle {
  text-align: center;
  margin-top: 100px;
  position: relative;
  font-size: 48px;
  padding-bottom: 24px;
  font-weight: bold;
}

.contact-tittle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 52px;
  height: 4px;
  background: #3F51B5;
}

.contact-form {
  width: 800px;
  background-color: #FFFFFF;
  padding: 0 60px;
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 120px;
}

@media screen and (max-width: 767px) {
  .contact-form {
    width: 100%;
    padding: 0 10px;
  }
}

.input {
  width: 520px;
  height: 38px;
  padding: 4px 16px;
  margin-left: auto;
  color: #CCCCCC;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .input {
    width: 100%;
    margin-top: 10px;
  }
}

.name-text {
  position: relative;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .name-text {
    display: block;
    padding: 0;
    padding-right: 54px;
  }
}

.name-text::after {
  content: "必須";
  position: absolute;
  background: #E81919;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 4px 2px;
  width: 44px;
  display: block;
  top: calc(100% + 8px);
  left: 0;
}

@media screen and (max-width: 767px) {
  .name-text::after {
    top: 50%;
    left: 60px;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
  }
}

.form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .form-name {
    width: 100%;
    display: block;
  }
}

.mail-text {
  position: relative;
}

.mail-text::after {
  content: "必須";
  position: absolute;
  background: #E81919;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 4px 2px;
  width: 44px;
  display: block;
  top: calc(100% + 8px);
  left: 0;
}

@media screen and (max-width: 767px) {
  .mail-text::after {
    top: 50%;
    left: 120px;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (max-width: 767px) {
  .mail-text {
    width: 100%;
    margin: auto;
    padding: 0;
  }
}

.form-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .form-mail {
    width: 100%;
    display: block;
  }
}

.form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .form-list {
    width: 100%;
    display: block;
  }
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .form-content {
    width: 100%;
    display: block;
  }
}

.content-input {
  width: 520px;
  height: 240px;
  margin-left: auto;
  color: #CCCCCC;
  border: 1px solid #707070;
  font-family: inherit;
  font-size: 14px;
  vertical-align: bottom;
  padding: 10px 16px;
  line-height: 1.625;
}

@media screen and (max-width: 767px) {
  .content-input {
    width: 100%;
    display: block;
  }
}

.radio {
  margin-top: 30px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .radio {
    margin-top: 26px;
  }
}

.radio-test {
  /* デフォルトのラジオボタンを非表示 */
  display: none;
  /* オリジナルボタンを設置するため、paddngでテキストの左側にスペースを確保 */
  /* 非表示にしたデフォルトのラジオボタンにチェックが入ると、オリジナルボタンのチェックも透明を解除して表示する */
}

@media screen and (max-width: 767px) {
  .radio-test {
    display: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-right: 0;
    display: block;
  }
}

.radio-test + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 28px;
  position: relative;
  margin-right: 15px;
  /* 擬似要素beforeとafterを共通でセット */
  /* beforeをラジオボタンの枠として利用するため、デザインを適用する */
  /* afterは枠の中のチェックマークとして利用するため、デザインを適用する
デフォルトのチェックマークはopacity:0で透明にしておく*/
}

.radio-test + span::before, .radio-test + span::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .radio-test + span::before, .radio-test + span::after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.radio-test + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 20px;
  height: 20px;
}

.radio-test + span::after {
  border: 1px solid transparent;
  left: 5px;
  width: 10px;
  height: 10px;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
  background: #3f51b5;
}

.radio-test:checked + span::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .radio-test {
    top: 50%;
    display: none;
  }
}

.radio-text {
  margin-right: 16px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .radio-text {
    display: block;
    margin-bottom: 30px;
  }
}

.check {
  margin-top: 66px;
  text-align: center;
  text-decoration: none;
}

.check-test {
  display: none;
  text-align: center;
}

.check-test + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 50px;
  position: relative;
}

.check-test + span::before, .check-test + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.check-test + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 25px;
  height: 25px;
}

.check-test + span::after {
  border: 1px solid transparent;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url(../img/checkbox.svg) no-repeat center center/contain;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.check-test:checked + span::after {
  opacity: 1;
}

.check-url {
  color: #333333;
}

.send-button {
  display: block;
  background-color: #3F51B5;
  margin: 0 auto;
  margin-top: 30px;
  height: 56px;
  width: 304px;
  margin-bottom: 60px;
  border-radius: 8px;
  position: relative;
}

.send-button a {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.send-button::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: #3F51B5 url(../img/button-arrow.svg) no-repeat center center/contain;
  color: #FFFFFF;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*
modal
*/
.for-modal {
  background-color: rgba(70, 70, 70, 0.288);
  display: none;
  position: fixed;
  padding: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.for-modal.is-show {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

@media screen and (max-width: 767px) {
  .for-modal {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.modal-window-all {
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  max-width: 100%;
  height: 80%;
  background: #fff;
  padding: 60px;
  position: fixed;
}

.modal-close-batu {
  background: transparent url(/img/btn-batsu.svg) 0% 0% no-repeat padding-box;
  padding: 20px;
  position: absolute;
  top: -21px;
  right: -21px;
  margin-right: 0 auto;
  border: 0;
  z-index: 31;
  position: fixed;
}

.policy-tittle {
  text-align: center;
  position: relative;
  font-size: 24px;
  padding-bottom: 24px;
  font-weight: bold;
}

.policy-tittle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background: #3F51B5;
}

.modal-content {
  overflow: auto;
  margin-top: 36px;
  height: calc(100% - 124px - 52px);
  overflow-y: scroll;
}

.modal-content > :first-child {
  margin-top: 0;
}

.modal-head {
  font-size: 20px;
  text-align: left;
  position: relative;
  margin-bottom: 16px;
  margin-top: 40px;
}

.modal-head::before {
  content: '';
  display: inline-block;
  background-color: #3F51B5;
  height: 20px;
  width: 4px;
  margin-right: 16px;
  text-align: left;
}

.modal-text {
  margin-left: 20px;
  color: #707070;
  line-height: 1.625;
  text-align: left;
}

.modal-close {
  display: inline-block;
  background-color: #3F51B5;
  margin-top: 50px;
  height: 48px;
  width: 176px;
  border-radius: 8px;
  position: relative;
  color: #FFFFFF;
}

.modal-close a {
  text-align: center;
  text-decoration: none;
}

/***************************
footer
****************************/
.footer-class {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  padding: 60px 40px 0 40px;
}

@media screen and (max-width: 767px) {
  .footer-class {
    width: 100%;
    display: inline-block;
  }
}

.footer-content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer-content3 {
    display: block;
    text-align: center;
  }
}

.cp-access {
  margin: 32px 0 14px 0;
}

.footer-left {
  margin-bottom: 46px;
}

@media screen and (max-width: 767px) {
  .footer-left {
    text-align: center;
    margin-bottom: 40px;
  }
}

.footer-center {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-center {
    display: block;
    text-align: center;
  }
}

.footer-center a {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .footer-center a {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .fc {
    margin-bottom: 30px;
  }
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-right {
    margin-bottom: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-right a {
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .footer-right a {
    margin-left: 0;
  }
}

.copyright {
  text-align: center;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding-bottom: 24px;
  display: block;
}

@media screen and (max-width: 767px) {
  .copyright {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.totop {
  display: none;
}

@media screen and (max-width: 767px) {
  .totop {
    margin-bottom: 30px;
  }
}

.totop a {
  background: transparent url("/img/totop.svg") 0% 0% no-repeat padding-box;
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.totop a:hover {
  opacity: 1;
}

.totop.is-show {
  display: block;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.section-title {
  font-family: "Lato", sans-serif;
}

.header_right ul li a {
  font-family: "Lato", sans-serif;
}

.news-day {
  font-family: "Lato", sans-serif;
}

.news_more a {
  font-family: "Lato", sans-serif;
}

.table-def th {
  font-family: "Lato", sans-serif;
}

.footer_center ul li a {
  font-family: "Lato", sans-serif;
}

.copyright {
  font-family: "Lato", sans-serif;
}
